<a href="https://colab.research.google.com/github/aleks-haksly/stratascratch/blob/main/Pandas/hard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1. Top 5 States With 5 Star Businesses](https://platform.stratascratch.com/coding/10046-top-5-states-with-5-star-businesses?code_type=1)

Find the top 5 states with the most 5 star businesses. Output the state name along with the number of 5-star businesses and order records by the number of 5-star businesses in descending order. In case there are ties in the number of businesses, return all the unique states. If two states have the same result, sort them in alphabetical order.

```sql
SELECT state, n_businesses FROM (
select
state,
count(stars) FILTER (WHERE stars = 5) AS n_businesses,
DENSE_RANK() OVER  (ORDER BY count(stars) FILTER (WHERE stars = 5) DESC) as rnk
from yelp_business
GROUP BY state
ORDER BY n_businesses DESC, state) sub
WHERE sub.rnk < 6

```

In [ ]:
import pandas as pd
import numpy as np

# Start writing code
temp = yelp_business.groupby("state", as_index=False)\
             .agg(n_businesses = ('stars', lambda x: sum(np.where(x == 5, 1, 0))))
temp.assign(rnk = temp.n_businesses.rank(method='dense', ascending = False))\
    .query("rnk < 6").sort_values(by='n_businesses', ascending=False)\
    .iloc[:,:-1]

[2. Premium vs Freemium](https://platform.stratascratch.com/coding/10300-premium-vs-freemium?code_type=1)

Find the total number of downloads for paying and non-paying users by date. Include only records where non-paying customers have more downloads than paying customers. The output should be sorted by earliest date first and contain 3 columns date, non-paying downloads, paying downloads. Hint: In Oracle you should use "date" when referring to date column (reserved keyword).

```sql
select
date,
SUM(downloads) FILTER (WHERE paying_customer = 'no') AS non_paying,
SUM(downloads)  FILTER (WHERE paying_customer = 'yes') AS paying
from ms_user_dimension
INNER JOIN ms_acc_dimension USING(acc_id)
INNER JOIN ms_download_facts USING(user_id)
GROUP BY date
HAVING SUM(downloads) FILTER (WHERE paying_customer = 'no') > SUM(downloads) FILTER (WHERE paying_customer = 'yes')
ORDER BY 1
```