<a href="https://colab.research.google.com/github/aleks-haksly/stratascratch/blob/main/Pandas/medium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1. Workers by Department Since April](https://platform.stratascratch.com/coding/9847-find-the-number-of-workers-by-department?code_type=2)

Find the number of workers by department who joined on or after April 1, 2014.

Output the department name along with the corresponding number of workers.

Sort the results based on the number of workers in descending order.

In [ ]:
[]import pandas as pd
# Start writing code
worker.query("joining_date >= '2014-04-01'")\
      .groupby("department", as_index=False)\
      .agg(num_workers = ('worker_id', 'count'))\
      .sort_values(by='num_workers', ascending=False)

[2. Highly Reviewed Hotels](https://platform.stratascratch.com/coding/9871-highly-reviewed-hotels?code_type=2)

List all hotels along with their total number of reviews using the total_number_of_reviews column. Sort the results by total reviews in descending order.

In [ ]:
# Import your libraries
import pandas as pd
# Start writing code
hotel_reviews[['hotel_name', 'total_number_of_reviews']].sort_values(by='total_number_of_reviews', ascending=False).drop_duplicates()

[4. Titanic Survivors and Non-Survivors](https://platform.stratascratch.com/coding/9881-make-a-report-showing-the-number-of-survivors-and-non-survivors-by-passenger-class?code_type=2)

In [ ]:
# Import your libraries
import pandas as pd
import numpy as np

# Start writing code
titanic.groupby("survived", as_index=False).agg(first_class = ('pclass', lambda x: sum(np.where(x == 1, 1, 0))),
                                                second_classs = ('pclass', lambda x: sum(np.where(x == 2, 1, 0))),
                                                third_class = ('pclass', lambda x: sum(np.where(x == 3, 1, 0))))