<a href="https://colab.research.google.com/github/aleks-haksly/stratascratch/blob/main/Pandas/medium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[1. Workers by Department Since April](https://platform.stratascratch.com/coding/9847-find-the-number-of-workers-by-department?code_type=2)

Find the number of workers by department who joined on or after April 1, 2014.

Output the department name along with the corresponding number of workers.

Sort the results based on the number of workers in descending order.

In [ ]:
[]import pandas as pd
# Start writing code
worker.query("joining_date >= '2014-04-01'")\
      .groupby("department", as_index=False)\
      .agg(num_workers = ('worker_id', 'count'))\
      .sort_values(by='num_workers', ascending=False)

[2. Highly Reviewed Hotels](https://platform.stratascratch.com/coding/9871-highly-reviewed-hotels?code_type=2)

List all hotels along with their total number of reviews using the total_number_of_reviews column. Sort the results by total reviews in descending order.

In [ ]:
# Import your libraries
import pandas as pd
# Start writing code
hotel_reviews[['hotel_name', 'total_number_of_reviews']].sort_values(by='total_number_of_reviews', ascending=False).drop_duplicates()

[4. Titanic Survivors and Non-Survivors](https://platform.stratascratch.com/coding/9881-make-a-report-showing-the-number-of-survivors-and-non-survivors-by-passenger-class?code_type=2)

```sql
select
survived,
SUM(CASE WHEN pclass = 1 THEN 1 ELSE 0 END) AS first_class,
SUM(CASE WHEN pclass = 2 THEN 1 ELSE 0 END) AS second_class,
SUM(CASE WHEN pclass = 3 THEN 1 ELSE 0 END) AS third_class
from titanic
GROUP BY survived
ORDER BY 1
```

In [ ]:
# Import your libraries
import pandas as pd
import numpy as np

# Start writing code
titanic.groupby("survived", as_index=False).agg(first_class = ('pclass', lambda x: sum(np.where(x == 1, 1, 0))),
                                                second_classs = ('pclass', lambda x: sum(np.where(x == 2, 1, 0))),
                                                third_class = ('pclass', lambda x: sum(np.where(x == 3, 1, 0))))

[5. Second Highest Salary](https://platform.stratascratch.com/coding/9892-second-highest-salary?code_type=2)

```sql
SELECT
  salary
FROM (
select salary,
dense_rank() OVER (ORDER BY salary DESC) AS drn
from employee) sub
WHERE sub.drn = 2
```

In [ ]:
employee[employee.salary.rank(method='dense', ascending=False) == 2][["salary"]]

[6. Employee and Manager Salaries](https://platform.stratascratch.com/coding/9894-employee-and-manager-salaries?code_type=1)

```sql
SELECT
ee.first_name, ee.salary
FROM employee ee
INNER JOIN employee em ON ee.manager_id = em.id
WHERE ee.salary > em.salary
```

In [ ]:
employee.merge(employee, how='left', left_on='manager_id', right_on='id', suffixes=['_x', '_y'])\
        .query("salary_x > salary_y")[["first_name_x", "salary_x"]]